body{
    background-color: rgb(13, 17, 23);
    background-image: url("imagens/wallpaper.png");
}
h1{
    color: rgb(56, 138, 252);
    text-align: center;
    font-family: monospace;
}
h3{
    color: rgb(245, 170, 57);
    text-align: center;
}
/* Formatação do Menu */

#menu{
    display: block;
    
}

#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 550px;
}
#menu li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    margin: 4px;
    transition: background-color 1s;
    border-radius: 10px;
}
#menu li:hover{
    background-color: #0f82b8;   
}
#menu h1{
    display: none;
}
#menu a{
    color: #111111;
    text-decoration: none;
}
#menu a:hover{
    color: rgb(236, 236, 236);
    transition: color 1s;
}