body{
    background-color: #B9DEDF;
}
h1{
    color: #312E41;
    font-family: monospace;
    font-size: 45px;
}
p{
    color: #252929;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font
}
a{
    color: #bc91ee;
}